@import '~bootstrap/scss/bootstrap';

body {
   // background-image: url('/chat.jpg');
  background-color: #8c062b;
  background-position: top;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
}
.con {
  height: auto;
}
.post-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon-upload {
  margin:20px;
}
.text {
  font-size: 2vw;
  background-color: #fedcdc;
  color: #db1049;
}
.icon {
  height: 50px;
  display: flex;
  flex-direction:row;
  max-width: 80%;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 800px;
  color: #8c062b;
}
.post-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.post-profile {
  border: black solid 1px;
  width: 40%;
  height: 100vw;
  background-color: #feb2b4;
  padding: 20px;
}
.post-post{
  width: 100vw;
}
.col-img {
  display: flex;
  justify-content: space-around;
}
.profile-img {
  width: 200px;
  height: 200px;
}
.rounded-circle {
  border: black solid 1px;
  margin: 20px auto;
}
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #8c062b;
}
.comment-wrap {
  position: relative;
    max-width: 100%;
    height: auto;
    margin: 10px 10px;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 3px;
    border: 5px solid #8c062b;
}
.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #db1049;
}
.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.comment-delete {
  display: flex;
  flex-direction: row;
}
.delete-comment-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-wrap {
  border: black solid 1px;
  width: 200px;
  height: 200px;
  background-color: #f5b301;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  margin: 10px auto;
}
.s-comment {
  margin-left: 50vw;
}
@media (min-width: 1600px) {
.container {
    max-width: 100%;
  }
}
