@import '~bootstrap/scss/bootstrap';

body {
   background-color: #8c062b;
  background-position: top;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
}
.img-user {
  width: 200px;
  height: 200px;
}

.form-label {
  clear: both;
}
.image-user {
  width:200px;
  height: 200px;
  border: solid white 1px;
  margin: 20px auto;
  border-radius: 50%;
  background-image: url('./user-profile.png');
  background-size: cover;
}
.con {
  height: auto;
  border:#8c062b solid 1px;
  background-color: white;
  margin: 10px;
  padding: 10px;
}
.welcome-header {
  font-size: 24px;
}
.post-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon-upload {
margin: 0 auto;
}
.text {
  font-size: 2vw;
  background-color: rgba(255,255,255, 0.4);
  color: #db1049;
  border-radius: 5%;
}
.icon {
  height: 50px;
  display: flex;
  flex-direction:row;
  max-width: 80%;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 800px;
  color: #8c062b;
}
.post-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.post-profile {
  border: #8c062b solid 1px;
  border-radius: 5%;
  width: 40%;
  height: 100vw;
  background-color: rgba(255,255,255, 0.6);
  padding: 20px;
}
.post-post{
  width: 100vw;
}
.col-img {
  display: flex;
  justify-content: flex-end;
}
.profile-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.rounded-circle {
  border: #8c062b solid 1px;
  margin: 20px auto;
}
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #8c062b;
}
.comment-wrap {
  position: relative;
    max-width: 100%;
    height: auto;
    margin: 10px 10px;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 3px;
    border: 5px solid #8c062b;
}
.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #db1049;
}
.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.comment-delete {
  display: flex;
  flex-direction: row;
}
.delete-comment-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-wrap {
  border: black solid 1px;
  width: 200px;
  height: 200px;
  background-color: #f5b301;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  margin: 10px auto;
}
.s-comment {
  margin-left: 40vw;
}

@media (min-width: 1600px) {
.container {
    max-width: 100%;
  }

}
@media(min-width: 769px) and (max-width: 900px ) {
  .con {
    width: 100%;
  }
  .profile-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .post-profile {
    width: 40%;
    height: 100%;
  }
  .post-post {
    width: 80%;
  }
  .m-auto {
    margin: 0 !important;
  }
  .s-comment {
    margin-left : 15px;
  }
  .post-detail {

    padding: 10px;
  }
  .icon {
    margin: 0;
  }
  .col-md-6 {
    max-width: 0%;
  }
}
@media(max-width: 768px) {

  .icon{
    width: 100%;
    height: auto;
    margin-left:0;
  }
  .con {
    width: 100%;
  }
}

@media(max-width: 400px ) {
  .welcome-header {
    font-size: 10px;
  }
  .icon-upload {
    font-size: 10px;
  }
  .form-label {
    font-size: 10px;
  }
  .post-main {
display: flex;
flex-direction: column;
}
.post-profile {
  width: 100%;
  height: 500px;
}
.btn-red {
  width: 50%;
  margin: 0 auto;
}
.profile-img {
  width: 150px;
  height: 150px;
  margin: 0 25%;
}
.post-detail {
font-size: 16px;
display: flex;
flex-direction: column;
}
.post-post {
  width: 100%;
}
.s-comment {
  margin-left: 10px;
}
.icon {
  margin-left: 0;
  height: 10px;
  margin-top: 10px;
}

.like-btn {
float: right;
}
}
